window {
  background-image: url("/home/riou/.config/background/catppuccin_ekg_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

#window-box {
  background-color: alpha(#1e1e2e, 0.96);
  border: 1px solid #89b4fa;
  border-radius: 0.3rem;
  box-shadow: 10px 10px 0px #1e1e2e;
  padding: 3em;
}

#clock-label {
  min-width: 320px;
  background-color: alpha(#1e1e2e, 0.1);
  color: #cdd6f4;
  font-weight: 500;
  font-size: 16pt;
  padding: 10px 30px;
  margin-bottom: 10px;
  border-top: 0;
}

#input-field {
  border-color: #f2cdcd;
  background-color: alpha(#1e1e2e, 0.96);
  color: #cdd6f4;
}

button.suggested-action {
  background: #a6e3a1;
  border: none;
}

button.suggested-action label {
  text-shadow: none;
  color: #1e1e2e;
}

/* hide "Password:" label */
#input-label {
  font-size: 0;
}

/* hide date-label under the clock */
#date-label {
  font-size: 0;
}

#user-name {
  font-size: 16pt;
}
