* {
  font-family: "0xproto", "HackGen NF", "Symbols Nerd Font";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  /* background: black; */
  /* background: rgba(40, 44, 52, 0.85); */
  color: white;
  /* border: 0.1em solid @theme_text_color; */
  /* border-radius: 10px; */
  /* background: #1e1e2e; */
  /* color: #ffffff; */
}

#window {
  font-family: "HackGen NF";
}

#workspaces button {
  margin: 0.1em;
  border: 0.1em solid @unforcused_borders;
  border-radius: 0.5em;
}

#workspaces button.focused {
  color: white;
  border: 0.1em solid @theme_selected_bg_color;
  border-radius: 0.5em;
}

/* #mode { */
/* background-color: #64727D; */
/* border-bottom: 3px solid #ffffff; */
/* } */

#taskbar button.active {
  color: white;
  border: 0.1em solid @theme_selected_bg_color;
  border-radius: 0.5em;
}

#tray,
#temperature,
#clock,
#battery,
#custom-pacman,
#disk,
#cpu,
#memory,
#network,
#wireplumber,
#bluetooth {
  padding: 0.5em;
  margin: 0.2em;
  border: 0.1em solid @theme_selected_bg_color;
  border-radius: 0.5em;
}

#custom-lizzy,
#mpris {
  font-family: "Moralerspace Krypton HWNF";
  padding: 0.5em;
  margin: 0.2em;
  border: 0.1em solid @theme_selected_bg_color;
  border-radius: 0.5em;
}

#temperature.critical {
  color: #b62d66;
}

@keyframes blink {
  to {
    background-color: #8fd4ff;
    color: black;
  }
}

@keyframes blink-update {
  to {
    background-color: dodgerblue;
  }
}

#custom-pacman {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-pacman.pending-updates {
  animation-name: blink-update;
  animation-duration: 3s;
}

#network.disconnected {
  color: #b62d66;
}